@model MyMovieListBeta.Models.Movie

@{
    ViewBag.Title = "Adding movie";
}

<style>
    td.name {
        padding: 15px;
        text-align: right;
    }
</style>

<div>
    <button style="float: right; margin-right:20px" onclick="location.href='@Url.Action("Index", "List")'" class="btn btn-default"><< BACK</button>
</div>
<h2>@ViewBag.Error</h2>
<h3>Adding movie:</h3>

@using (Html.BeginForm("Index", "Add", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <table>
            <tbody>
                <tr>
                    <td class="name">TITLE:</td>
                    <td>@Html.EditorFor(model => model.Title)</td>
                    <td style="color:red"> @ViewBag.TitleError</td>
                </tr>
                <tr>
                    <td class="name">RELEASE DATE:</td>
                    <td>@Html.EditorFor(model => model.ReleaseDate)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">YOUR SEANCE DATE:</td>
                    <td>@Html.EditorFor(model => model.YourSeanceDate)</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">SCORE:</td>
                    <td>
                        @Html.DropDownListFor(model => model.Score, Enumerable.Range(0, 11).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                    </td>
                <td></td>
            </tr>
            <tr>
                <td class="name">POSTER:</td>
                <td>
                    <input type="file" id="imageFile" name="imageFile" />
                </td>
                <td></td>
            </tr>
        </tbody>
    </table><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ADD" class="btn btn-success" />
        </div>
    </div>

</div>
}
<br /><br />

